

a{
    text-decoration: none;
}

body{
    margin: 0;
    display: flex;
    height: 100vh;
    position: sticky;
    overflow-y: hidden;
    background-color: rgba(255, 255, 255, 0.99);


}


.navbar{
    display: flex;
    flex-direction: column;
    width: 17%;
    justify-content: flex-start;
    align-content: center;
    overflow-y: hidden;
    border-radius: 5px;
    background-color: black;

}

.navbar h1{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: white;

}


.navbar nav{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 30%;

}


.navbar-list{
    display: flex;
    flex-direction:  column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-content: flex-start;
    justify-content: space-evenly;
    width: 80%;

}

.navbar-list li a{
    padding: 5%;
    font-size: 1.2em;
    display: flex;
    gap: 5%;
    justify-content:flex-start;
    align-content: space-evenly;
    color: white;
}

.navbar-list .active{
    background-color: rgba(193, 102, 193, 0.81);
    border-radius: 5px;
}

.main{
    width: 83%;
    flex-grow: 1;
    flex: 1;
    overflow-y: auto;
}

.header{
    height: 8vh;  
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.99);

}

.content{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.99);


}

.overview-area{
    margin: 15px;
    display: flex;
    justify-content: space-evenly;
}


.overview-area monitor-card{
    margin: 10px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 2px 2px rgb(194, 194, 194);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    font-size: 25px;
    width: 20%;
}



.font-large{
    font-size: 40px;
}

.padding-small{
    padding: 5px;
}

.success {
    color: lime;
}

.warning{
    color: yellow;
}

.critical{
    color: red;
}