

a{
    text-decoration: none;
}

body{
    background-image: linear-gradient(to bottom, white, rgba(25, 244, 255, 0.2));
    margin: 0;
    display: flex;
    height: 100vh;
    position: sticky;
    overflow-y: hidden;

}


.navbar{
    display: flex;
    flex-direction: column;
    width: 17%;
    justify-content: flex-start;
    align-content: center;
    overflow-y: hidden;
}

.navbar h1{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

}


.navbar nav{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 30%;

}


.navbar-list{
    display: flex;
    flex-direction:  column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-content: flex-start;
    justify-content: space-evenly;
    width: 80%;

}

.navbar-list li a{
    padding: 5%;
    font-size: 1.2em;
    color: grey;
    display: flex;
    gap: 5%;
    justify-content:flex-start;
    align-content: space-evenly;
}

.navbar-list li a{

    color: #7F8487;

}

.main{
    width: 83%;
    flex-grow: 1;
    flex: 1;
    overflow-y: auto;
}

.header{
    height: 8vh;  
    position: sticky;
    top: 0;
    z-index: 5;

}

.content{
    height: 100vh;
    display: flex;
    border: 1px solid red;
    flex-direction: column;


}

.overview-area{
    border: 1px solid red;
    height: 45vh;
    margin: 15px;
    display: flex;
    justify-content: space-evenly;
}

.overview-item{
    margin: 10px;
    height: 50%;
    width: 20%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 2px 2px 2px rgb(194, 194, 194);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    font-size: 25px;
}



.font-large{
    font-size: 40px;
}

.padding-small{
    padding: 5px;
}

.success {
    color: lime;
}

.warning{
    color: yellow;
}

.critical{
    color: red;
}